*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
font-family: 'Montserrat', sans-serif;
position: relative;
}
p{
font-size: 16px;
}
h1{
    font-size: 2rem;
}
.height{
min-height: 80vh;
}
/*Main header styles*/
header{
background-color: white;
}
header .container{
position: relative;
display: flex;
align-items: center;
justify-content: space-between;
margin: 0 auto;
padding: 15px;
}

.nav-bar {
width: 88%;
margin: 0px 20px;
}

.nav-item {
padding-left: 2rem;
font-size: 1.1rem;
font-weight: bold;
}

.nav-login {
padding-right: 2rem;
font-size: 1.1rem;
font-weight: bold;
color: grey;
}
.nav-login:hover{
color: rgba(0, 0, 0, 0.774);
text-decoration: none;
}
.navbar {
padding-top: 2rem !important;
padding-bottom: 2rem !important;
}
.btn-success {
background-color: hsl(180, 66%, 49%) !important;
border: none !important;
color: white;
border-radius: 26px !important;
padding: .45rem 1.5rem !important;
font-weight: bold !important;
}

.btn-success:hover{
background-color: hsl(257, 27%, 26%) !important;
}
.main img{
max-width: 100%;
height: auto;
}
.mainText p{
font-size: 1.1rem;
}

.mainText .btn{
background-color: hsl(180, 66%, 49%);
color: white;
padding: .45rem 1.5rem ;
border-radius: 26px;
margin-top: 20px;
font-weight: bold;
}

/*Urlspace style*/

.urlSpace{
background-image: url("../images/bg-shorten-desktop.svg");
background-repeat: no-repeat;
background-color: hsl(257, 27%, 26%);
background-position: center;
background-size: cover;
border-radius: 10px;
position: absolute;
top: 29%;
left: 8%;
}
input[type="text"]{
width: 800px;
height:60px;
margin: 40px 20px;
border-radius: 8px;
padding-left: 15px;
}
input::placeholder{
font-weight: bold;
}
.form-body ul{
display: flex;
align-items: center;
justify-content: center;
list-style: none;
}
.form-body button{
background-color: hsl(180, 66%, 49%);
border-radius: 8px;
padding: 10px 16px;
border: none;
}
.form-body button:hover{
background-color: hsla(180, 66%, 49%, 0.609);
}
#show{
display: none;
}
/*Styles for the main section*/

.main-section{
background-color:hsla(0, 0%, 75%, 0.308);
margin-top:80px;
padding: 60px 0;
}
.main-section .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    }
.main-section .title p{
width: 50%;
font-size: 18px;
margin-top: 10px;
}
.main-section .card{
position: relative;     
}

.main-section .card img{
width: 60px;
padding: 12px 12px;
margin-bottom: 20px;
border-radius: 50%;
background-color: hsl(257, 27%, 26%);
position: absolute;
left: 5%;
top: -12%;
}
.last-card{
padding-bottom: 35px;
}

/*Cta section-section before the footer*/

.cta-section{
background-color: hsla(0, 0%, 75%, 0.308);;
}
.cta{
background-image: url("../images/bg-boost-desktop.svg");
background-repeat: no-repeat;
background-color: hsl(257, 27%, 26%); 
background-position: center;
background-size: cover;
padding: 40px 0;  
}
.cta .btn{
background-color: hsl(180, 66%, 49%);
color: white;
border-radius: 20px;
margin-left: 100px;
margin-left: 580px;
margin-top: 25px;
}

/*footer styles*/

footer{
background-color: rgba(0, 0, 0, 0.883);
min-height: 100%;
}
footer ul li a{
color:hsl(0, 0%, 75%);
font-weight: 600;
line-height: 2rem;
}
footer h5{
color: white;
}
footer ul{
list-style: none;
text-decoration: none; 
}
footer ul a:hover{
text-decoration: none;
color: hsl(257, 27%, 26%);
}
footer .icons{
display: flex;
justify-content: space-around;
}

#show{
background-color: white;
display: flex;
width: 70%;
padding: 10px 0;
margin-left: 200px;
margin-top: 50px;
border-radius: 8px;
height: auto;
}
.show-div{
display: none;
}
#show li{
list-style: none;  
}
#result{
font-weight: 700;
margin-left: 300px;
}
#defaultUrl{
font-weight: 700;
margin-left: 20px;
}
.copy-btn{
width: 100px;
background-color: hsl(180, 66%, 49%);
color: white;
text-align: center;
margin-left: 100px;
padding: 6px 0;
border-radius: 8px;
font-weight: bold;
}
.copy-btn:hover{
text-decoration: none;
color: hsl(257, 27%, 26%);
}

/*Responsiveness*/
@media screen and (max-width: 990px){
.navbar-show{
margin-top: 40px;
background-color: hsl(257, 27%, 26%);
border-radius: 10px;
}
.nav-item{
display: flex;
align-items: center;
justify-content: center;
margin-right: 40px;
line-height: 40px;
}
.nav-link{
color: white !important;
}

.nav-login{
margin-bottom: 5px;
color: white!important;
margin-left: 10px;
}
.btn-success{
padding: 10px 80px !important;
margin-right:15px;
}

.mainText .btn{
    margin-left: 70px;
}
.nav-login{
margin-bottom: 5px;
color: white!important;
margin-left: 100px;
}
.btn-success{
padding: 10px 80px !important;
margin-left:15px;
}
input[type="text"]{
width: 400px;
height: 50px;
margin: 20px 20px;
}
.urlSpace{
background-image: url("../images/bg-shorten-mobile.svg");
background-repeat: no-repeat;
background-color: hsl(257, 27%, 26%);
background-position: center;
border-radius: 8px;
top: 23%;
left: -1%;
right: -1%;
}
.mainText h1{
font-size: 3rem;
margin-top: 20px;
text-align: center;
}
.mainText p{
padding-top: 10px;
text-align: center;
}

footer{
text-align: center;
}
footer .first-list{
padding-top: 30px;
}
#show{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 80%;
margin-left: 40px;   
padding: 14px 0;   
}
#show li{
list-style: none;
}
#defaultUrl{
margin-left: 2px;
}
#result{
margin-left: 2px;
padding: 5px 0;
}
.main-section .card img{
left: 40%;
}
.main-section .card{
margin: 20px 0px;
border-radius: 12px;
}
.cta{
background-image: url("../images/bg-boost-mobile.svg");

}
.copy-btn{
width: 80%;
padding: 4px 0px;
margin-right: 100px ;
}
.copy-btn:hover{
text-decoration: none;
color: hsl(257, 27%, 26%);
}
}

@media screen and (max-width: 768px){
.form-body ul{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
list-style: none;
}
input[type="text"]{
width: 310px;
height: 50px;
margin: 20px 20px;
padding-left: 15px;
}
.form-body button{
background-color: hsl(180, 66%, 49%);
border-radius: 8px;
padding: 6px 100px;
border: none;
margin-bottom: 10px; 
}
.form-body button:hover{
background-color: hsla(180, 66%, 49%, 0.609);
}
.urlSpace{
    top: 22%;
}
}
@media screen and (max-width: 480px)and (min-width: 320px) {
.main .row{
display: flex;
flex-direction: column-reverse;
}
.form-body ul{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
list-style: none;
}
.mainText h1{
font-size: 2rem;
}
.main-section .title p{
width: 100%;
margin-top: 10px;
}
.main-section .title h1{
    width: 50%;
}
.cta .btn{
margin-left: 120px;
}
#show{
margin-top: 130px;
}
}
@media screen and (device-width: 414px){
.urlSpace{
top: 23%;
left: -1%;
right: -1%;
}
.mainText .btn{
    margin-left: 90px;
}
.cta .btn{
margin-left: 140px;
}
#show{
margin-top: 10px;
}
.nav-login{
margin-bottom: 5px;
margin-left: 130px;
}
.btn-success{
padding: 10px 80px !important;
margin-left: 45px;
}
}
