*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
font-family: 'Montserrat', sans-serif;
position: relative;
}
p{
    font-size: 16px;
}
.height{
min-height: 80vh;
}
/*Main header styles*/
header{
    background-color: white;
}
header .container{
position: relative;
display: flex;
align-items: center;
justify-content: space-between;
margin: 0 auto;
padding: 15px;
}

.nav-bar {
    width: 88%;
    margin: auto;
}

.nav-item {
    padding-left: 2rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.nav-login {
    padding-right: 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: grey;
}
.navbar {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}
.btn-success {
    background-color: hsl(180, 66%, 49%) !important;
    border: none !important;
    color: white;
    border-radius: 26px !important;
    padding: .45rem 1.5rem !important;
    font-weight: bold !important;
}

.btn-success:hover{
    background-color: hsl(257, 27%, 26%) !important;
}
.main img{
    max-width: 100%;
    height: auto;
}
.mainText p{
    font-size: 1.1rem;
}
.mainText .btn{
    background-color: hsl(180, 66%, 49%);
    color: white;
    padding: .45rem 1.5rem;
    border-radius: 26px;
    margin-top: 20px;
    font-weight: bold;
    }
/*Urlspace style*/

.urlSpace{
background-image: url("../images/bg-shorten-desktop.svg");
background-repeat: no-repeat;
background-color: hsl(257, 27%, 26%);
background-position: center;
background-size: cover;
border-radius: 10px;
position: absolute;
top: 26%;
left: 8%;
}
input[type="text"]{
width: 800px;
height:60px;
margin: 40px 20px;
border-radius: 8px;
}
input::placeholder{
    font-weight: bold;
    padding-left: 1rem;
}
.form-body ul{
display: flex;
align-items: center;
justify-content: center;
list-style: none;
}
.form-body button{
background-color: hsl(180, 66%, 49%);
border-radius: 8px;
padding: 10px 16px;
border: none;
}
.form-body button:hover{
    background-color: hsla(180, 66%, 49%, 0.609);
}

/*Styles for the main section*/

.main-section{
background-color:hsla(0, 0%, 75%, 0.308);
margin-top:80px;
padding: 60px 0;
}
.main-section .title{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 100px 0;
}
.main-section .title p{
width: 50%;
font-size: 18px;
margin-top: 10px;
}
.main-section .card{
    position: relative;     
}
.main-section .card img{
width: 60px;
padding: 12px 12px;
margin-bottom: 20px;
border-radius: 50%;
background-color: hsl(257, 27%, 26%);
position: absolute;
left: 5%;
top: -12%;
}
.last-card{
    margin-top: 80px;
}
/*Cta section-section before the footer*/

.cta-section{
background-color: hsla(0, 0%, 75%, 0.308);;
}
.cta{
background-image: url("../images/bg-boost-desktop.svg");
background-repeat: no-repeat;
background-color: hsl(257, 27%, 26%); 
background-position: center;
background-size: cover;
padding: 40px 0;  
}
.cta .btn{
background-color: hsl(180, 66%, 49%);
color: white;
border-radius: 20px;
margin-left: 600px;
margin-top: 25px;
}

/*footer styles*/

footer{
background-color: rgba(0, 0, 0, 0.883);
min-height: 100%;
text-align: center;
}
footer ul li a{
color:hsl(0, 0%, 75%);
font-weight: 600;
line-height: 2rem;
}
footer h5{
color: white;
}
footer ul{
list-style: none;
text-decoration: none; 
}
footer ul a:hover{
text-decoration: none;
color: hsl(257, 27%, 26%);
}
footer .icons{
display: flex;
justify-content: space-around;
}

.show-result{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-left:200px;
    margin-top: 30px;
    border-radius: 8px;
    height: auto;
}
.show-result ul{
    list-style: none;
}
#result{
   font-weight: 700;
}
#defaultUrl{
    font-weight: 700;
}
.copy-btn{
    width: 100px;
    background-color: hsl(180, 66%, 49%);
    color: white;
    text-align: center;
    margin-left: 200px;
    padding: 6px 0;
    border-radius: 8px;
    font-weight: bold;
}
.copy-btn:hover{
    text-decoration: none;
    color: hsl(257, 27%, 26%);
}

/*Responsiveness*/
@media only screen and (max-width: 768px){
    .navbar-show{
        margin-top: 40px;
        background-color: hsl(257, 27%, 26%);
        border-radius: 10px;
    }
    .nav-item{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 40px;
        line-height: 40px;
    }
    .nav-link{
        color: white !important;
    }
    .form-inline{
        display: flex;
        flex-direction: column !important; 
        line-height: 60px;  
    }
    .nav-login{
        margin-bottom: 5px;
        color: white;
        margin-left: 8px;
    }
    .btn-success{
        padding: .45rem 6rem !important;
        margin-right:15px;
    }
    .mainText{
        margin-top: 30px;
    }
    .mainText .btn{
    background-color: hsl(180, 66%, 49%);
    color: white;
    width: 150px;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: bold;
    margin-left: 90px;
    }
    .mainText h1{
        font-size: 6vh;
        text-align: center;
    }
    .mainText p{
        text-align: center;
        padding-top: 10px;
        }
    .main .row{
        display: flex;
        flex-direction: column-reverse;
    }

.main img{
    max-width: 100%;
    height: auto;
}
input[type="text"]{
    width: 310px;
    height:50px;
    margin: 20px 0px;
    border-radius: 8px;
    }
.urlSpace{
    background-image: url("../images/bg-shorten-mobile.svg");
    background-repeat: no-repeat;
    background-color: hsl(257, 27%, 26%);
    background-position: center;
    border-radius: 8px;
    top: 21%;
    left: -1%;
    right: -1%;
    }
    .form-body ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        }
.form-body button{
background-color: hsl(180, 66%, 49%);
border-radius: 8px;
padding: 6px 100px;
border: none;
margin-bottom: 10px; 
}
.form-body button:hover{
background-color: hsla(180, 66%, 49%, 0.609);
}
.main-section{
    padding: 10px 0;
}
.main-section .title h1{
    font-size: 2rem;
}
.main-section .title p{
width: 100%;
}
.main-section .card img{
    left: 40%;
}
.main-section .card{
    margin: 20px 0px;
    border-radius: 12px;
}
.cta{
    background-image: url("../images/bg-boost-mobile.svg");

}
.cta .btn{
margin-left: 110px;
}
footer .first-list{
padding-top: 30px;
}
.show-result{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 40px;
    margin-top: 100px;
    padding: 10px 0;   
}
.show-result ul{
    list-style: none;
}
#defaultUrl{
    margin-left: 2px;
}
#result{
    margin-left: 2px;
    padding: 5px 0;
}
.copy-btn{
    width: 80%;
    margin-right: 200px;
    padding: 4px 0;
}
}
 



